<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.govmade.repository.system.catalog.CatalogManagerDao">
	<resultMap id="base" type="CatalogManager"></resultMap>
	<select id="find" resultMap="base" parameterType="CatalogManager">
		SELECT  id,sort_manager_id sortManagerId,cata_number cataNumber,class_value classValue,class_code classCode,time_create timeCreate,time_modified timeModified,isDeleted,company_id companyId,
			group_id groupId FROM gov_catalog_manager t WHERE 1=1
		<if test="param.sortManagerId != null ">
			and t.sort_manager_id=#{param.sortManagerId}
		</if>
		<if test="param.cataNumber!= null ">
			and t.cata_number=#{param.cataNumber}
		</if>
		<if test="param.classValue != null ">
			and t.class_value=#{param.classValue}
		</if>
		<if test="param.isDeleted != null ">
			and t.isDeleted=#{param.isDeleted}
		</if>
		<if test="param.groupId != null ">
			and t.group_id=#{param.groupId}
		</if>
		<if test="param.companyId != null ">
			and t.company_id=#{param.companyId}
		</if>
		ORDER BY

		<choose>
			<when  test="sort !=null and sort!=''">
					${sort}
			</when>
			<otherwise>
				t.time_create
			</otherwise>
		</choose>
		<choose>
		
			<when test="orderBy != null and orderBy!='' ">
				${orderBy}
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>
	</select>
	<select id="findByPage" resultMap="base">
		SELECT  id,sort_manager_id sortManagerId,cata_number cataNumber,class_value classValue,class_code classCode,time_create timeCreate,time_modified timeModified,isDeleted,company_id companyId,
			group_id groupId  FROM gov_catalog_manager t WHERE 1=1
		<if test="param.sortManagerId != null ">
			and t.sort_manager_id like '%${param.sortManagerId}%'
		</if>
		<if test="param.cataNumber!= null ">
			and t.cata_number=#{param.cataNumber}
		</if>
		<if test="param.classValue != null ">
			and t.class_value=#{param.classValue}
		</if>
		<if test="param.isDeleted != null ">
			and t.isDeleted=#{param.isDeleted}
		</if>
		<if test="param.groupId != null ">
			and t.group_id=#{param.groupId}
		</if>
		<if test="param.companyId != null ">
			and t.company_id=#{param.companyId}
		</if>
		ORDER BY
		<choose>
			<when  test="sort !=null and sort!=''">
					${sort}
			</when>
			<otherwise>
				t.time_create
			</otherwise>
		</choose>
		<choose>
		
			<when test="orderBy != null and orderBy!='' ">
				${orderBy}
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>
	</select>

	<select id="count" resultType="int" parameterType="CatalogManager">
		SELECT count(*) FROM gov_catalog_manager t WHERE 1=1
	</select>
	<insert id="insert" parameterType="CatalogManager"  useGeneratedKeys="true" keyProperty="id">  
 	
 	<![CDATA[
	INSERT INTO gov_catalog_manager(sort_manager_id,cata_number,class_value,class_code,time_create,time_modified,isDeleted,company_id,group_id) 
	VALUES (#{sortManagerId,jdbcType=NUMERIC},#{cataNumber,jdbcType=NUMERIC},#{classValue,jdbcType=VARCHAR},#{classCode,jdbcType=VARCHAR},#{timeCreate,jdbcType=TIMESTAMP},#{timeModified,jdbcType=TIMESTAMP},#{isDeleted,jdbcType=NUMERIC},#{companyId,jdbcType=NUMERIC},#{groupId,jdbcType=NUMERIC})
	]]>
	</insert>
	<update id="delete" parameterType="CatalogManager">
		UPDATE gov_catalog_manager
		SET isDeleted =1
		WHERE id=#{id}
	</update>
	<update id="deleteBatch" parameterType="java.util.List">
		UPDATE gov_catalog_manager
		SET isDeleted =1
		WHERE id in
		<foreach item="o" collection="list" open="(" separator=","
			close=")">
			#{o.id}
		</foreach>

	</update>
	
	<delete id="deletePhysically" parameterType="CatalogManager">
		DELETE FROM gov_catalog_manager
		WHERE id=#{id}
	</delete>
	<delete id="deleteBatchPhysically" parameterType="java.util.List">
		DELETE FROM gov_catalog_manager
		WHERE id in
		<foreach item="o" collection="list" open="(" separator=","
			close=")">
			#{o.id}
		</foreach>

	</delete>
	<update id="update" parameterType="CatalogManager">
		UPDATE gov_catalog_manager
		SET 
		sort_manager_id=#{sortManagerId,jdbcType=NUMERIC},
		cata_number=#{cataNumber,jdbcType=NUMERIC},
		class_value=#{classValue,jdbcType=VARCHAR},
		class_code=#{classCode,jdbcType=VARCHAR},
     	time_modified=#{timeModified,jdbcType=TIMESTAMP},
     	company_id=#{companyId,jdbcType=NUMERIC},
		group_id=#{groupId,jdbcType=NUMERIC}
		WHERE id=#{id,jdbcType=NUMERIC}
	</update>

</mapper>