<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.govmade.repository.system.data.DataElementFieldsDao">
	<resultMap id="base" type="DataElementFields"></resultMap>
	<select id="find" resultMap="base" parameterType="DataElementFields">
		SELECT  id,name,search_type searchType,input_type inputType,input_value inputValue,value_no valueNo,required,list_no listNo,time_create timeCreate,time_modified timeModified,isDeleted,is_show isShow
		 FROM gov_data_element_fields t WHERE 1=1
		<if test="param.isDeleted != null ">
			and t.isDeleted=#{param.isDeleted}
		</if>
		<if test="param.searchType != null ">
			and t.search_type=#{param.searchType}
		</if>
		ORDER BY

		<choose>
			<when  test="sort !=null and sort!=''">
					${sort}
			</when>
			<otherwise>
				t.time_create
			</otherwise>
		</choose>
		<choose>
		
			<when test="orderBy != null and orderBy!='' ">
				${orderBy}
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>
	</select>
	<select id="findByPage" resultMap="base">
		SELECT  id,name,search_type searchType,input_type inputType,input_value inputValue,value_no valueNo,required,list_no listNo,time_create timeCreate,time_modified timeModified,isDeleted,is_show isShow
		 FROM gov_data_element_fields t WHERE 1=1
		<if test="param.isDeleted != null ">
			and t.isDeleted=#{param.isDeleted}
		</if>
		<if test="param.searchType != null ">
			and t.search_type=#{param.searchType}
		</if>
		ORDER BY
		<choose>
			<when  test="sort !=null and sort!=''">
					${sort}
			</when>
			<otherwise>
				t.time_create
			</otherwise>
		</choose>
		<choose>
		
			<when test="orderBy != null and orderBy!='' ">
				${orderBy}
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>
	</select>

	<select id="count" resultType="int" parameterType="DataElementFields">
		SELECT count(*) FROM gov_data_element_fields t WHERE 1=1
	</select>
	<insert id="insert" parameterType="DataElementFields" >	
 	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
        SELECT gov_data_element_fields_seq.CURRVAL  ID FROM DUAL  
    </selectKey>  
 	
 	<![CDATA[
	INSERT INTO gov_data_element_fields(search_type,name,input_type,input_value,value_no,required,list_no,time_create,time_modified,isDeleted,is_show) 
	VALUES (#{searchType,jdbcType=NUMERIC},#{name,jdbcType=VARCHAR},#{inputType,jdbcType=VARCHAR},#{inputValue,jdbcType=VARCHAR},#{valueNo,jdbcType=NUMERIC},#{required,jdbcType=VARCHAR},#{listNo,jdbcType=NUMERIC},#{timeCreate,jdbcType=TIMESTAMP},#{timeModified,jdbcType=TIMESTAMP},#{isDeleted,jdbcType=NUMERIC}，#{isShow,jdbcType=NUMERIC})
	]]>
	</insert>
	<update id="delete" parameterType="DataElementFields">
		UPDATE gov_data_element_fields
		SET isDeleted =1
		WHERE id=#{id}
	</update>
	<update id="deleteBatch" parameterType="java.util.List">
		UPDATE gov_data_element_fields
		SET isDeleted =1
		WHERE id in
		<foreach item="o" collection="list" open="(" separator=","
			close=")">
			#{o.id}
		</foreach>

	</update>
	
	<delete id="deletePhysically" parameterType="DataElementFields">
		DELETE FROM gov_data_element_fields
		WHERE id=#{id}
	</delete>
	<delete id="deleteBatchPhysically" parameterType="java.util.List">
		DELETE FROM gov_data_element_fields
		WHERE id in
		<foreach item="o" collection="list" open="(" separator=","
			close=")">
			#{o.id}
		</foreach>
    </delete>
	<update id="update" parameterType="DataElementFields">
		UPDATE gov_data_element_fields
		SET 
		name=#{name,jdbcType=VARCHAR},
		search_type=#{searchType,jdbcType=NUMERIC},
        input_type=#{inputType,jdbcType=VARCHAR},
        input_value=#{inputValue,jdbcType=VARCHAR},
        value_no=#{valueNo,jdbcType=NUMERIC},
        required=#{required,jdbcType=VARCHAR},
		time_modified=#{timeModified,jdbcType=TIMESTAMP},
		list_no=#{listNo,jdbcType=NUMERIC},
		is_show=#{isShow,jdbcType=NUMERIC}
		WHERE id=#{id,jdbcType=NUMERIC}
	</update>

</mapper>