<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.govmade.repository.system.rbac.RolePermissionDAO">
	<resultMap id="base" type="RolePermission"></resultMap>
	<select id="find" resultMap="base" parameterType="RolePermission">
		SELECT id,role_id roleId,permission_id permissionId,scope_id scopeId,time_create timeCreate,time_modified timeModified,isDeleted FROM city_rbac_role_per_scope t WHERE 1=1
		<if test="param.roleId != null ">
			and t.role_id=#{param.roleId}
		</if>
		<if test="param.permissionId != null ">
			and t.permission_id=#{param.permissionId}
		</if>
		<if test="param.scopeId != null ">
			and t.scope_id=#{param.scopeId}
		</if>		
		<if test="param.isDeleted != null ">
			and t.isDeleted=#{param.isDeleted}
		</if>
		ORDER BY

		<choose>
			<when  test="sort !=null and sort!=''">
					${sort}
			</when>
			<otherwise>
				t.time_create
			</otherwise>
		</choose>
		<choose>
		
			<when test="orderBy != null and orderBy!='' ">
				${orderBy}
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>
	</select>
	<select id="findByPage" resultMap="base">
		SELECT id,role_id roleId,permission_id permissionId,scope_id scopeId,time_create timeCreate,time_modified timeModified,isDeleted FROM city_rbac_role_per_scope t WHERE 1=1
		<if test="param.roleId != null ">
			and t.role_id=#{param.roleId}
		</if>
		<if test="param.permissionId != null ">
			and t.permission_id=#{param.permissionId}
		</if>
		<if test="param.isDeleted != null ">
			and t.isDeleted=#{param.isDeleted}
		</if>
		ORDER BY
		<choose>
			<when  test="sort !=null and sort!=''">
					${sort}
			</when>
			<otherwise>
				t.time_create
			</otherwise>
		</choose>
		<choose>
		
			<when test="orderBy != null and orderBy!='' ">
				${orderBy}
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>

	</select>

	<select id="count" resultType="int" parameterType="RolePermission">
		SELECT count(*) FROM city_rbac_role_per_scope t WHERE 1=1
	</select>
	<insert id="insert" parameterType="RolePermission" >	
 	
 	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
        SELECT city_rbac_role_per_scope_seq.CURRVAL  ID FROM DUAL  
    </selectKey>  
 	
 	<![CDATA[
	INSERT INTO city_rbac_role_per_scope(role_id,permission_id,scope_id,time_create,time_modified,isDeleted) 
	VALUES (#{roleId,jdbcType=NUMERIC},#{permissionId,jdbcType=NUMERIC},#{scopeId,jdbcType=NUMERIC},#{timeCreate,jdbcType=TIMESTAMP},#{timeModified,jdbcType=TIMESTAMP},#{isDeleted,jdbcType=NUMERIC})
	]]>
	</insert>
	<update id="delete" parameterType="RolePermission">
		UPDATE city_rbac_role_per_scope
		SET isDeleted =1
		WHERE role_id=#{roleId}
	</update>
	<update id="deleteBatch" parameterType="java.util.List">
		UPDATE city_rbac_role_per_scope
		SET isDeleted =1
		WHERE role_id in
		<foreach item="o" collection="list" open="(" separator=","
			close=")">
			#{o.roleId}
		</foreach>

	</update>
	
	<delete id="deletePhysically" parameterType="RolePermission">
		DELETE FROM city_rbac_role_per_scope
		WHERE role_id=#{roleId}
	</delete>
	<delete id="deleteBatchPhysically" parameterType="java.util.List">
		DELETE FROM city_rbac_role_per_scope
		WHERE role_id in
		<foreach item="o" collection="list" open="(" separator=","
			close=")">
			#{o.roleId}
		</foreach>

	</delete>
	<update id="update" parameterType="RolePermission">
		UPDATE city_rbac_role_per_scope
		SET 
		time_modified=#{timeModified,jdbcType=TIMESTAMP}
		WHERE id=#{id,jdbcType=NUMERIC}
	</update>

</mapper>