<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.govmade.repository.system.rbac.ScopeDAO">
	<resultMap id="base" type="Scope"></resultMap>
	
	<select id="getScopesByRoleId" resultMap="base" parameterType="Permission">
	SELECT DISTINCT s.id,s.name,s.note,s.permissions,s.value,s.time_create timeCreate,s.time_modified timeModified,s.isDeleted  FROM city_rbac_role_per_scope rps,city_rbac_scope s , city_rbac_permission p 
	WHERE  rps.scope_id=s.id 
	AND  rps.permission_id=p.id 
	AND  rps.role_id IN (${id}) 
	<if test="param.url != null ">
			AND p.url  like '%${param.url}%'
	</if>
	
	</select>
	
	<select id="find" resultMap="base" parameterType="Scope">
		SELECT id,name,note,permissions,value,time_create timeCreate,time_modified timeModified,isDeleted FROM city_rbac_scope t WHERE 1=1
		<if test="param.name != null ">
			and t.name=#{param.name}
		</if>
		<if test="param.id != null ">
			and t.id=#{param.id}
		</if>
		<if test="param.isDeleted != null ">
			and t.isDeleted=#{param.isDeleted}
		</if>
		ORDER BY

	<choose>
			<when  test="sort !=null and sort!=''">
					${sort}
			</when>
			<otherwise>
				t.time_create
			</otherwise>
		</choose>
		<choose>
		
			<when test="orderBy != null and orderBy!='' ">
				${orderBy}
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>
	</select>
	<select id="findByPage" resultMap="base">
		SELECT id,name,note,permissions,value,time_create timeCreate,time_modified timeModified,isDeleted FROM city_rbac_scope t WHERE 1=1
	<if test="param.name != null and param.name !=''">
			and t.name like '%${param.name}%'
		</if>
		<if test="param.id != null ">
			and t.id=#{param.id}
		</if>
		<if test="param.isDeleted != null ">
			and t.isDeleted=#{param.isDeleted}
		</if>
		ORDER BY
		<choose>
			<when  test="sort !=null and sort!=''">
					${sort}
			</when>
			<otherwise>
				t.time_create
			</otherwise>
		</choose>
		<choose>
		
			<when test="orderBy != null and orderBy!='' ">
				${orderBy}
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>

	</select>

	<select id="count" resultType="int" parameterType="Scope">
		SELECT count(*) FROM city_rbac_scope t WHERE 1=1
	</select>
	<insert id="insert" parameterType="Scope" >	
 	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
        SELECT city_rbac_scope_seq.CURRVAL  ID FROM DUAL  
    </selectKey>  
    
 	<![CDATA[
	INSERT INTO city_rbac_scope(name,note,permissions,value,time_create,time_modified,isDeleted) 
	VALUES (#{name,jdbcType=VARCHAR},#{note,jdbcType=VARCHAR},#{permissions,jdbcType=VARCHAR},#{value,jdbcType=VARCHAR},#{timeCreate,jdbcType=TIMESTAMP},#{timeModified,jdbcType=TIMESTAMP},#{isDeleted,jdbcType=NUMERIC})
	]]>
	</insert>
	<update id="delete" parameterType="Scope">
		UPDATE city_rbac_scope
		SET isDeleted =1
		WHERE id=#{id}
	</update>
	<update id="deleteBatch" parameterType="java.util.List">
		UPDATE city_rbac_scope
		SET isDeleted =1
		WHERE id in
		<foreach item="o" collection="list" open="(" separator=","
			close=")">
			#{o.id}
		</foreach>

	</update>
	
	<delete id="deletePhysically" parameterType="Scope">
		DELETE FROM city_rbac_scope
		WHERE id=#{id}
	</delete>
	<delete id="deleteBatchPhysically" parameterType="java.util.List">
		DELETE FROM city_rbac_scope
		WHERE id in
		<foreach item="o" collection="list" open="(" separator=","
			close=")">
			#{o.id}
		</foreach>

	</delete>
	<update id="update" parameterType="Scope">
		UPDATE city_rbac_scope
		SET name =#{name,jdbcType=VARCHAR},
		note=#{note,jdbcType=VARCHAR},
		permissions=#{permissions,jdbcType=VARCHAR},
		value=#{value,jdbcType=VARCHAR},
		time_modified=#{timeModified,jdbcType=TIMESTAMP}
		WHERE id=#{id,jdbcType=NUMERIC}
	</update>

</mapper>