/*
* @Author: kk
* @Date:   2017-03-10 14:14:09
* @Last Modified by:   kk
* @Last Modified time: 2017-03-22 11:08:25
*/
/* header start*/
.skin-4-5 .header { height: 78px; position: relative; z-index: 10000; background-color: #fff; box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, .2);}
.skin-4-5 .header .name img {border-color: #d9d9d9;}
.skin-4-5 .header .logo { margin-left: 30px; color: #333; font-size: 20px; font-weight: 700; }
.skin-4-5 .header .logo h1 { color: #005293; }
.skin-4-5 .header .name span, 
.skin-4-5 .header .btn-signout { background-color: #f7f7f7; border-color: #d9d9d9; color: #005293; }
.skin-4-5 .message-group .count-info { background-color: #f7f7f7; border-color: #d9d9d9; }
.skin-4-5 .message-group .count-info .label-primary { background-color: #0d4e91; }
/* header end */
/* index start */
.skin-4-4 { background: #f7f7f7; }

.skin-4-4 .menu-list-container .font-color { color: #337ab7 !important; }

.skin-4-4 .menu-list-container .img { background: url(../../images/icon/icon_sprite_1.png) no-repeat; }

.skin-4-4 .menu-list-container .menu-item:hover { box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25); }

.skin-4-4 .menu-list-container .menu-item-1 { background-color: #0d4e91; }

.skin-4-4 .menu-list-container .menu-item-1 .img { background-position: 218px 0px; }

.skin-4-4 .menu-list-container .menu-item-2 { background-color: #d8e4f0; }

.skin-4-4 .menu-list-container .menu-item-2 .img { background-position: 102px -282px; }

.skin-4-4 .menu-list-container .menu-item-3 { background-color: #cacbcd; }

.skin-4-4 .menu-list-container .menu-item-3 .img { background-position: 102px -147px; }

.skin-4-4 .menu-list-container .menu-item-4 { background-color: #2976c6; }

.skin-4-4 .menu-list-container .menu-item-4 .img { background-position: 218px -553px; }
/* index end */